<div class="reg-container">
    <div class="reg-progress-bar">
        <app-progress-bar screenId="pwdSetup"></app-progress-bar>
    </div>

    <div class="reg-pwd-setup-form">
        <div class="form-text">
            Set up your password
        </div>
        <div class="form-group">
            <label class="control-label">User Id</label>
            <input type="email" [(ngModel)]="userId" class="form-control" disabled placeholder="Email ID">
        </div>
        <div class="form-group">
            <label class="control-label" iv>Password</label>
            <input id="password" type="password" [(ngModel)]="password" class="form-control reg-pwd" placeholder="Enter your new password"
            (blur)="validatePasswords()">
            <input id="rePassword" type="password" [(ngModel)]="rePassword" class="form-control reg-pwd" placeholder="Re-Enter your password"
                (blur)="validatePasswords()">
            <div class="passwordMatch" *ngIf="displayPasswordMatchMsg">
                <span class="success" *ngIf="passwordMatch">&#10004;<span>Passwords match</span></span>
                <span class="error" *ngIf="!passwordMatch">&#10060;<span>Passwords does't match</span></span>
            </div>
        </div>

        <div class="reg-footer">
            <button class="btn btn-submit" [disabled]="disableSubmit" (click)="onSubmit()">Submit</button>
            <a (click)="navigateBack()" [routerLink]="['./../reg-review']" class="btn btn-link">Cancel</a>
        </div>
    </div>
</div>