<div class="login-container">
  <div class="row">
    <div class="col-md-4">
      <div class="login-section">
        <div class="login-sec-title">Login</div>
        <div class="login-sec-form">
          <div class="form-group">
            <label class="control-label">Email Id</label>
            <input type="email" class="form-control" placeholder="Email Id">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">Password</label>
          <input type="password" class="form-control" placeholder="Password">
        </div>
        <div class="login-sec-footer">
          <label>
            <app-checkbox checkboxId="rememberMe" text="Remember Me"></app-checkbox>
          </label>
          <button class="btn btn-login">Submit</button>
        </div>
        <div class="register">
          <a (click)="goToRegistration()" [routerLink]="['/registration', 'reg-form']">Don't have an accout? Register
            now with abc</a>
        </div>

      </div>
    </div>
    <div class="col-md-8">
      <div class="carousel-conatainer">
        <ngb-carousel id="photoSlide" [interval]="2000">
          <ng-template ngbSlide *ngFor="let imageUrl of carouselImages">
            <app-load-image classes="login-photo-carousel-item" [imageUrl]="imageUrl"></app-load-image>
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
  </div>
</div>