<div class="login-container">
  <div class="row">
    <div class="col-md-4">
      <div class="login-section">
        <div class="login-sec-title">Login</div>
        <div class="login-sec-form">
          <div class="form-group">
            <label class="control-label">Email Id</label>
            <input type="email" class="form-control" placeholder="Email Id">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">Password</label>
          <input type="password" class="form-control" placeholder="Password">
        </div>
        <div class="login-sec-footer">
          <label>
            <input type="checkbox"><span>Remember Me</span>
          </label>
          <button class="btn btn-login">Submit</button>
        </div>
        <div class="register">
          <a [routerLink]="['/registration', 'reg-form']">Don't have an accout? Register now with abc</a>
        </div>

      </div>
    </div>
    <div class="col-md-8">
      <ngb-carousel id="photoSlide" [interval]="2000">
        <ng-template ngbSlide>
          <div class="login-photo-carousel-item photo1"></div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="login-photo-carousel-item photo2"></div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="login-photo-carousel-item photo3"></div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
</div>