<div class="reg-progress-bar">
<div class="progress-bar-container">
    <div class="bar-item" *ngFor="let screen of screenList; let i = index">
        <div class="circle">
            <div *ngIf="i < currentScreenIndex || currentScreenIndex === screenList.length - 1" class="innerCircle"></div>
            <div *ngIf="i === currentScreenIndex && currentScreenIndex !== screenList.length - 1" class="halfCircle"></div>
        </div>
        <div *ngIf="i !== screenList.length - 1" class="pipe">
            <div class="{{i < currentScreenIndex ? 'innerPipe' : ''}}"></div>
        </div>
    </div>
</div>
</div>