<div class="reg-container">
  <div class="reg-progress-bar">
    <app-reg-progress-bar screenId="review"></app-reg-progress-bar>
  </div>

  <div *ngIf="registrationData && registrationData.emailId; else errorContainer" class="review-section">
    <div class="review-details">
      <div *ngIf="registrationData.emailId" class="reg-item row">
        <div class="reg-lable col-4">Email Id</div><span>:&nbsp;</span>
        <div class="reg-detail col-7">{{registrationData.emailId}}</div>
      </div>
      <div *ngIf="registrationData.firstName" class="reg-item row">
        <div class="reg-lable col-4">First Name</div><span>:&nbsp;</span>
        <div class="reg-detail col-7">{{registrationData.firstName}}</div>
      </div>
      <div *ngIf="registrationData.lastName" class="reg-item row">
        <div class="reg-lable col-4">Last Name</div><span>:&nbsp;</span>
        <div class="reg-detail col-7">{{registrationData.lastName}}</div>
      </div>
      <div *ngIf="registrationData.dob" class="reg-item row">
        <div class="reg-lable col-4">Date of Birth</div><span>:&nbsp;</span>
        <div class="reg-detail col-7">{{registrationData.dob}}</div>
      </div>
      <div *ngIf="registrationData.mobile" class="reg-item row">
        <div class="reg-lable col-4">Mobile No.</div><span>:&nbsp;</span>
        <div class="reg-detail col-7">{{registrationData.mobile}}</div>
      </div>
      <div *ngIf="registrationData.city" class="reg-item row">
        <div class="reg-lable col-4">Address </div><span>:&nbsp;</span>
        <div class="reg-detail col-7">
          <div>{{registrationData.addressLine1}}</div>
          <div>{{registrationData.addressLine2}}</div>
          <div>{{registrationData.landmark}}</div>
          <div>{{registrationData.city}}</div>
          <div>{{registrationData.pincode}}</div>
        </div>
      </div>
    </div>
    <div class="reg-footer">
      <button class="btn btn-submit" (click)="onSubmit()">Submit</button>
      <a [routerLink]="['./../reg-form']" class="btn btn-link">Cancel</a>
    </div>
  </div>


  <ng-template #errorContainer>
    Error message goes here
  </ng-template>


</div>