<div class="reg-container">
    <div class="reg-progress-bar">
        <app-reg-progress-bar screenId="form"></app-reg-progress-bar>
    </div>

    <div class="reg-form" #regForm>
        <div class="form-text">
            Please enter the details below
        </div>
        <div class="form-group" [class.error]="hasEmailError">
            <label class="control-label">Email Id<sup class="mandatory">*</sup></label>
            <input id="emailId" type="email" [(ngModel)]="registrationData.emailId" class="form-control" placeholder="Email ID"
                (blur)="onInputBlur($event)" (focus)="hasEmailError = false">
            <span id="emailIdError" class="errorMsg"></span>
        </div>
        <div class="form-group" [class.error]="hasFirstNameError">
            <label class="control-label">First Name<sup class="mandatory">*</sup></label>
            <input id="firstName" type="text" [(ngModel)]="registrationData.firstName" class="form-control" placeholder="First Name"
                (blur)="onInputBlur($event)" (focus)="hasFirstNameError = false">
            <span id="firstNameError" class="errorMsg"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Last Name</label>
            <input id="lastName" type="text" [(ngModel)]="registrationData.lastName" class="form-control" placeholder="Last Name"
                (blur)="onInputBlur($event)">
            <span id="lastNameError" class="errorMsg"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Date of Birth</label>
            <input id="dob" type="date" [(ngModel)]="registrationData.dob" class="form-control" placeholder="Date of Birth">
            <span id="dobError" class="errorMsg"></span>
        </div>
        <div class="form-group" [class.error]="hasMobileError">
            <label class="control-label">Mobile Number<sup class="mandatory">*</sup></label>
            <input id="mobileNumber" type="tel" [(ngModel)]="registrationData.mobile" class="form-control" placeholder="Mobile Number"
                (blur)="onInputBlur($event)">
            <span id="mobileNumberError" class="errorMsg"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Address </label>
            <input id="addressLine1" type="text" [(ngModel)]="registrationData.addressLine1" class="form-control address-input"
                placeholder="D.No. / Flat No and Apartment Name" (blur)="onInputBlur($event)">
            <span id="addressLine1Error" class="errorMsg"></span>
            <input id="addressLine2" type="text" [(ngModel)]="registrationData.addressLine2" class="form-control address-input"
                placeholder="Street Name" (blur)="onInputBlur($event)">
            <span id="addressLine2Error" class="errorMsg"></span>
            <input id="landmark" type="text" [(ngModel)]="registrationData.landmark" class="form-control address-input"
                placeholder="Landmark" (blur)="onInputBlur($event)">
            <span id="landmarkError" class="errorMsg"></span>
            <input id="city" type="text" [(ngModel)]="registrationData.city" class="form-control address-input"
                placeholder="City" (blur)="onInputBlur($event)">
            <span id="cityError" class="errorMsg"></span>
            <input id="pincode" type="number" [(ngModel)]="registrationData.pincode" class="form-control address-input"
                placeholder="Pincode" (blur)="onInputBlur($event)">
            <span id="pincodeError" class="errorMsg"></span>
        </div>
        <div class="reg-footer">
            <button class="btn btn-submit" (click)="onSubmit()">Continue</button>
            <a [routerLink]="['./../../prelogin']" class="btn btn-link">Cancel</a>
            <div class="note">
                Note: Fields marked with <sup class="mandatory">*</sup> are mandatory.
            </div>
        </div>
    </div>
</div>