.reg-container {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 15px 20px 0px rgba(0,0,0,0.1);
    width: 60%;
    margin: 0 auto;
}

.error-banner {
    margin-bottom: 20px;
}

.mandatory {
    color: red;
}

.mandatoryFieldError {
    color: red;
    padding: 5px;
    border-style: solid;
    border-width: 1px 1px 1px 4px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.error .control-label {
    color: red;
    font-weight: 500;
}

.error input {
    box-shadow: 0 0 0.2rem red;
    border-color: red;
    color: red;
}

.error input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #f95d5d;
    opacity: 1; /* Firefox */
}

.error input::-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: red;
}

.errorMsg {
    display: none;
}

.error .errorMsg {
    display: block;
    color: red;
    font-size: small;
}

.reg-progress-bar {
    padding: 20px 60px;
}

.reg-form {
    overflow: hidden;
    margin: 0 60px;
    padding-left: 3px;
    padding-right: 3px;
}

.form-text {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
}

.address-input {
    margin-bottom: 8px;
}
.reg-footer {
    margin-bottom: 20px;
}

.btn-submit {
    background: #DE6262;
    color: #fff;
    font-weight: 600;
}

.note {
    font-size: small;
    margin-top: 15px;
}

@media screen and (max-width: 680px) {
    .reg-container {
        width: 100%;
    }

    .reg-form {
        margin: 0px 20px;
    }

    .reg-progress-bar {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (min-width: 681px) and (max-width: 980px) {
    .reg-container {
        width: 70%;
    }

    .reg-form {
        margin: 0px 40px;
    }

    .reg-progress-bar {
        padding-left: 40px;
        padding-right: 40px;
    }
}

