.reg-form {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: left;
    column-gap: 20px;
    row-gap: 20px;
}

.address {
    display: grid;
    row-gap: 10px;
}

.reg-progress-bar {
    padding-bottom: 40px;
}

@media screen and (max-width: 680px) {
    .reg-form {
        grid-template-columns: auto;
        justify-content: space-evenly;
        row-gap: 0;
    }

    .reg-form > :nth-child(2n) {
        padding-bottom: 10px;
    }
}