.grid-container {
    display: grid;
    grid-template-rows: auto auto 200px;
}

.grid-body {
    display: grid;
    grid-template-columns: 200px auto;
}


.menu {
    background: #ec8989;
}

.grid-header {
    background: linear-gradient(#123d8a, #295ab3);
    opacity: 0.9;
}

.grid-footer {
    background: linear-gradient(#080808, #000408);
    opacity: 0.8;
}



@media screen and (max-width: 680px) {
    .grid-body {
        grid-template-columns: auto;
        grid-template-rows: 50px auto;
    }

    .content {
        min-height: 200px;
    }
}